<body>
    <div ng-app="myApp">
        <div ng-init="getGames()">
            
            <table>
                <tr>
                    <th>White Score</th>
                    <th>Black Score</th>
                </tr>
                <tr ng-repeat="x in gameList">
                    <td>{{ x.whiteScore }}</td>
                    <td>{{ x.blackScore }}</td>
                    <td><button ng-click="game.restoreGame(x)">Restore game</button></td>
                </tr>
            </table> 
        </div>
    </div>
</body>